
@{
    ViewBag.Title = "Client List";
}

<h2>Кадастровый учёт</h2>

<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("Add","Client")')"><i class="fa fa-plus"></i> Добавить</a>
<table id="clientTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Клиент</th>
            <th>Тип клиента</th>
            <th>ИНН</th>
            <th>Юридический адрес</th>
            <th>Фактический адрес</th>
            <th>Почтовый адрес</th>
            <th>Страна</th>
            <th>В черном списке</th>
            <th></th>
        </tr>
    </thead>
</table>


<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#clientTable").DataTable({
                "ajax": {
                    "url": "/Client/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ClientName" },
                    { "data": "TypeClient"},
                    { "data": "INN" },
                    { "data": "LegalAddress" },
                    { "data": "ActualAddress" },
                    { "data": "MailingAddress" },
                    { "data": "Country" },
                    {
                        "data": "IsBlackListed", "render": function (data) {
                            return data == "Да" ? '<b>Да<b>' : 'Нет';
                        }
                    },
                    {
                        "data": "ClientId", "render": function (data) {
                            return "<a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("Edit","Client")/" + data + "')><i class='fa fa-pencil'></i> Изменить</a>";
                        }
                    }
                ],
                   "language": {
                    "emptyTable":"Таблица не найдена. Пожалуйста, нажмите <b>Добавить<b>."
                },

            });
        });
       

        //Форма открывается при нажатии кнопки "Добавить" или "Изменить"
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Клиенты',
                        height: 700,
                        width: 600,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        //Функция отправки данных из формы "ADDOrEdit"
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }
    </script>


}
